ApniTaxi/packages/WebGrease.1.5.2/tools/WG.exe
ApniTaxi/packages/WebGrease.1.5.2/lib/WebGrease.dll
ApniTaxi/packages/WebGrease.1.5.2/WebGrease.1.5.2.nupkg
ApniTaxi/packages/Respond.1.2.0/Respond.1.2.0.nupkg
ApniTaxi/packages/Owin.1.0/lib/net40/Owin.dll
ApniTaxi/packages/Owin.1.0/Owin.1.0.nupkg
ApniTaxi/packages/Newtonsoft.Json.6.0.4/tools/install.ps1
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.dll
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.dll
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.dll
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.dll
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.dll
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.dll
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
ApniTaxi/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
ApniTaxi/packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
ApniTaxi/packages/Modernizr.2.6.2/Tools/uninstall.ps1
ApniTaxi/packages/Modernizr.2.6.2/Tools/install.ps1
ApniTaxi/packages/Modernizr.2.6.2/Tools/common.ps1
ApniTaxi/packages/Modernizr.2.6.2/Modernizr.2.6.2.nupkg
ApniTaxi/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
ApniTaxi/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Microsoft.jQuery.Unobtrusive.Validation.3.2.3.nupkg
ApniTaxi/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Content/Scripts/jquery.validate.unobtrusive.min.js
ApniTaxi/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Content/Scripts/jquery.validate.unobtrusive.js
ApniTaxi/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/VS.psm1
ApniTaxi/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/VS.psd1
ApniTaxi/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/Uninstall.ps1
ApniTaxi/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/Install.ps1
ApniTaxi/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
ApniTaxi/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
ApniTaxi/packages/Microsoft.Owin.Security.Twitter.3.0.1/lib/net45/Microsoft.Owin.Security.Twitter.dll
ApniTaxi/packages/Microsoft.Owin.Security.Twitter.3.0.1/lib/net45/Microsoft.Owin.Security.Twitter.XML
ApniTaxi/packages/Microsoft.Owin.Security.Twitter.3.0.1/Microsoft.Owin.Security.Twitter.3.0.1.nupkg
ApniTaxi/packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45/Microsoft.Owin.Security.OAuth.dll
ApniTaxi/packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45/Microsoft.Owin.Security.OAuth.XML
ApniTaxi/packages/Microsoft.Owin.Security.OAuth.3.0.1/Microsoft.Owin.Security.OAuth.3.0.1.nupkg
ApniTaxi/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.dll
ApniTaxi/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.XML
ApniTaxi/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/Microsoft.Owin.Security.MicrosoftAccount.3.0.1.nupkg
ApniTaxi/packages/Microsoft.Owin.Security.Google.3.0.1/lib/net45/Microsoft.Owin.Security.Google.dll
ApniTaxi/packages/Microsoft.Owin.Security.Google.3.0.1/lib/net45/Microsoft.Owin.Security.Google.XML
ApniTaxi/packages/Microsoft.Owin.Security.Google.3.0.1/Microsoft.Owin.Security.Google.3.0.1.nupkg
ApniTaxi/packages/Microsoft.Owin.Security.Facebook.3.0.1/lib/net45/Microsoft.Owin.Security.Facebook.dll
ApniTaxi/packages/Microsoft.Owin.Security.Facebook.3.0.1/lib/net45/Microsoft.Owin.Security.Facebook.XML
ApniTaxi/packages/Microsoft.Owin.Security.Facebook.3.0.1/Microsoft.Owin.Security.Facebook.3.0.1.nupkg
ApniTaxi/packages/Microsoft.Owin.Security.Cookies.3.0.1/lib/net45/Microsoft.Owin.Security.Cookies.xml
ApniTaxi/packages/Microsoft.Owin.Security.Cookies.3.0.1/lib/net45/Microsoft.Owin.Security.Cookies.dll
ApniTaxi/packages/Microsoft.Owin.Security.Cookies.3.0.1/Microsoft.Owin.Security.Cookies.3.0.1.nupkg
ApniTaxi/packages/Microsoft.Owin.Security.3.0.1/lib/net45/Microsoft.Owin.Security.dll
ApniTaxi/packages/Microsoft.Owin.Security.3.0.1/lib/net45/Microsoft.Owin.Security.XML
ApniTaxi/packages/Microsoft.Owin.Security.3.0.1/Microsoft.Owin.Security.3.0.1.nupkg
ApniTaxi/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/Microsoft.Owin.Host.SystemWeb.xml
ApniTaxi/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/Microsoft.Owin.Host.SystemWeb.dll
ApniTaxi/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/Microsoft.Owin.Host.SystemWeb.3.0.1.nupkg
ApniTaxi/packages/Microsoft.Owin.3.0.1/lib/net45/Microsoft.Owin.dll
ApniTaxi/packages/Microsoft.Owin.3.0.1/lib/net45/Microsoft.Owin.XML
ApniTaxi/packages/Microsoft.Owin.3.0.1/Microsoft.Owin.3.0.1.nupkg
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/vbc.rsp
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/vbc.exe.config
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/vbc.exe
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/csi.rsp
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/csi.exe.config
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/csi.exe
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/csc.rsp
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/csc.exe.config
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/csc.exe
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/VBCSCompiler.exe.config
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/VBCSCompiler.exe
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Xml.XmlDocument.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Xml.XPath.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Xml.XPath.XDocument.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Xml.ReaderWriter.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.ValueTuple.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Threading.Thread.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Text.Encoding.CodePages.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Security.Principal.Windows.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Security.Cryptography.X509Certificates.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Security.Cryptography.Primitives.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Security.Cryptography.Encoding.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Security.Cryptography.Algorithms.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Security.Claims.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Security.AccessControl.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Reflection.Metadata.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.IO.Pipes.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.IO.FileSystem.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.IO.FileSystem.Primitives.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.IO.FileSystem.DriveInfo.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.IO.Compression.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Diagnostics.StackTrace.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Diagnostics.Process.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Diagnostics.FileVersionInfo.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Console.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.Collections.Immutable.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/System.AppContext.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/Microsoft.Win32.Primitives.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/Microsoft.VisualBasic.Core.targets
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/Microsoft.DiaSymReader.Native.x86.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/Microsoft.DiaSymReader.Native.amd64.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/Microsoft.CodeAnalysis.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/Microsoft.CodeAnalysis.VisualBasic.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/Microsoft.CodeAnalysis.Scripting.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/Microsoft.CodeAnalysis.CSharp.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/Microsoft.CodeAnalysis.CSharp.Scripting.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/Microsoft.CSharp.Core.targets
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/build/Microsoft.Net.Compilers.props
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/ThirdPartyNotices.rtf
ApniTaxi/packages/Microsoft.Net.Compilers.2.4.0/Microsoft.Net.Compilers.2.4.0.nupkg
ApniTaxi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/tools/net45/uninstall.ps1
ApniTaxi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/tools/net45/install.ps1
ApniTaxi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
ApniTaxi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
ApniTaxi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/content/net46/web.config.uninstall.xdt
ApniTaxi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/content/net46/web.config.install.xdt
ApniTaxi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/content/net45/web.config.uninstall.xdt
ApniTaxi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/content/net45/web.config.install.xdt
ApniTaxi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
ApniTaxi/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8.nupkg
ApniTaxi/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.xml
ApniTaxi/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.dll
ApniTaxi/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.xml
ApniTaxi/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.dll
ApniTaxi/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.xml
ApniTaxi/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.dll
ApniTaxi/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.xml
ApniTaxi/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.dll
ApniTaxi/packages/Microsoft.AspNet.WebPages.3.2.3/Microsoft.AspNet.WebPages.3.2.3.nupkg
ApniTaxi/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.uninstall.xdt
ApniTaxi/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.install.xdt
ApniTaxi/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
ApniTaxi/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/System.Web.Optimization.dll
ApniTaxi/packages/Microsoft.AspNet.Web.Optimization.1.1.3/Microsoft.AspNet.Web.Optimization.1.1.3.nupkg
ApniTaxi/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.xml
ApniTaxi/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.dll
ApniTaxi/packages/Microsoft.AspNet.Razor.3.2.3/Microsoft.AspNet.Razor.3.2.3.nupkg
ApniTaxi/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.xml
ApniTaxi/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.dll
ApniTaxi/packages/Microsoft.AspNet.Mvc.5.2.3/Microsoft.AspNet.Mvc.5.2.3.nupkg
ApniTaxi/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.uninstall.xdt
ApniTaxi/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.install.xdt
ApniTaxi/packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/Microsoft.AspNet.Identity.Owin.xml
ApniTaxi/packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/Microsoft.AspNet.Identity.Owin.dll
ApniTaxi/packages/Microsoft.AspNet.Identity.Owin.2.2.1/Microsoft.AspNet.Identity.Owin.2.2.1.nupkg
ApniTaxi/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/lib/net45/Microsoft.AspNet.Identity.EntityFramework.xml
ApniTaxi/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/lib/net45/Microsoft.AspNet.Identity.EntityFramework.dll
ApniTaxi/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/Microsoft.AspNet.Identity.EntityFramework.2.2.1.nupkg
ApniTaxi/packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/Microsoft.AspNet.Identity.Core.xml
ApniTaxi/packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/Microsoft.AspNet.Identity.Core.dll
ApniTaxi/packages/Microsoft.AspNet.Identity.Core.2.2.1/Microsoft.AspNet.Identity.Core.2.2.1.nupkg
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.XML
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.XML
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.uninstall.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.transform
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.install.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0.nupkg
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net45/Microsoft.AI.WindowsServer.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net45/Microsoft.AI.WindowsServer.XML
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net40/Microsoft.AI.WindowsServer.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net40/Microsoft.AI.WindowsServer.XML
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.uninstall.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.transform
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.install.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/Tools/install.ps1
ApniTaxi/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/Microsoft.ApplicationInsights.WindowsServer.2.2.0.nupkg
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net45/Microsoft.AI.Web.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net45/Microsoft.AI.Web.XML
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net40/Microsoft.AI.Web.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net40/Microsoft.AI.Web.XML
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/web.config.uninstall.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/web.config.install.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.uninstall.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.transform
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.install.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/web.config.uninstall.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/web.config.install.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.uninstall.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.transform
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.install.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.Web.2.2.0/Microsoft.ApplicationInsights.Web.2.2.0.nupkg
ApniTaxi/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/lib/net45/Microsoft.AI.PerfCounterCollector.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/lib/net40/Microsoft.AI.PerfCounterCollector.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.uninstall.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.transform
ApniTaxi/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.install.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0.nupkg
ApniTaxi/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net45/Microsoft.AI.DependencyCollector.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net45/Microsoft.AI.DependencyCollector.XML
ApniTaxi/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net40/Microsoft.AI.DependencyCollector.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net40/Microsoft.AI.DependencyCollector.XML
ApniTaxi/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.uninstall.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.transform
ApniTaxi/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.install.xdt
ApniTaxi/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/Microsoft.ApplicationInsights.DependencyCollector.2.2.0.nupkg
ApniTaxi/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6/lib/net45/Microsoft.AI.Agent.Intercept.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6/lib/net40/Microsoft.AI.Agent.Intercept.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6.nupkg
ApniTaxi/packages/Microsoft.ApplicationInsights.2.2.0/lib/wp8/Microsoft.ApplicationInsights.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.2.2.0/lib/uap10.0/Microsoft.ApplicationInsights.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.2.2.0/lib/portable-win81%2Bwpa81/Microsoft.ApplicationInsights.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.2.2.0/lib/netstandard1.5/Microsoft.ApplicationInsights.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.2.2.0/lib/netstandard1.5/Microsoft.ApplicationInsights.XML
ApniTaxi/packages/Microsoft.ApplicationInsights.2.2.0/lib/net46/Microsoft.ApplicationInsights.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.2.2.0/lib/net46/Microsoft.ApplicationInsights.XML
ApniTaxi/packages/Microsoft.ApplicationInsights.2.2.0/lib/net45/Microsoft.ApplicationInsights.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.2.2.0/lib/net45/Microsoft.ApplicationInsights.XML
ApniTaxi/packages/Microsoft.ApplicationInsights.2.2.0/lib/net40/Microsoft.ApplicationInsights.dll
ApniTaxi/packages/Microsoft.ApplicationInsights.2.2.0/lib/net40/Microsoft.ApplicationInsights.XML
ApniTaxi/packages/Microsoft.ApplicationInsights.2.2.0/Microsoft.ApplicationInsights.2.2.0.nupkg
ApniTaxi/packages/EntityFramework.6.1.3/tools/install.ps1
ApniTaxi/packages/EntityFramework.6.1.3/tools/init.ps1
ApniTaxi/packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
ApniTaxi/packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
ApniTaxi/packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
ApniTaxi/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.dll
ApniTaxi/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
ApniTaxi/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
ApniTaxi/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.dll
ApniTaxi/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.dll
ApniTaxi/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.dll
ApniTaxi/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.dll
ApniTaxi/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.pdb
ApniTaxi/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.dll
ApniTaxi/packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
ApniTaxi/ApniTaxi/obj/Debug/build.force
ApniTaxi/ApniTaxi/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ApniTaxi/ApniTaxi/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ApniTaxi/ApniTaxi/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ApniTaxi/ApniTaxi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ApniTaxi/ApniTaxi/obj/Debug/ApniTaxi.csprojResolveAssemblyReference.cache
ApniTaxi/ApniTaxi/obj/Debug/ApniTaxi.csproj.CoreCompileInputs.cache
ApniTaxi/ApniTaxi/fonts/glyphicons-halflings-regular.woff
ApniTaxi/ApniTaxi/fonts/glyphicons-halflings-regular.ttf
ApniTaxi/ApniTaxi/fonts/glyphicons-halflings-regular.svg
ApniTaxi/ApniTaxi/fonts/glyphicons-halflings-regular.eot
ApniTaxi/ApniTaxi/bin/WebGrease.dll
ApniTaxi/ApniTaxi/bin/System.Web.WebPages.dll
ApniTaxi/ApniTaxi/bin/System.Web.WebPages.Razor.dll
ApniTaxi/ApniTaxi/bin/System.Web.WebPages.Deployment.dll
ApniTaxi/ApniTaxi/bin/System.Web.Razor.dll
ApniTaxi/ApniTaxi/bin/System.Web.Optimization.dll
ApniTaxi/ApniTaxi/bin/System.Web.Mvc.dll
ApniTaxi/ApniTaxi/bin/System.Web.Helpers.dll
ApniTaxi/ApniTaxi/bin/Owin.dll
ApniTaxi/ApniTaxi/bin/Newtonsoft.Json.dll
ApniTaxi/ApniTaxi/bin/Microsoft.Web.Infrastructure.dll
ApniTaxi/ApniTaxi/bin/Microsoft.Owin.dll
ApniTaxi/ApniTaxi/bin/Microsoft.Owin.Security.dll
ApniTaxi/ApniTaxi/bin/Microsoft.Owin.Security.Twitter.dll
ApniTaxi/ApniTaxi/bin/Microsoft.Owin.Security.OAuth.dll
ApniTaxi/ApniTaxi/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
ApniTaxi/ApniTaxi/bin/Microsoft.Owin.Security.Google.dll
ApniTaxi/ApniTaxi/bin/Microsoft.Owin.Security.Facebook.dll
ApniTaxi/ApniTaxi/bin/Microsoft.Owin.Security.Cookies.dll
ApniTaxi/ApniTaxi/bin/Microsoft.Owin.Host.SystemWeb.dll
ApniTaxi/ApniTaxi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
ApniTaxi/ApniTaxi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
ApniTaxi/ApniTaxi/bin/Microsoft.AspNet.Identity.Owin.dll
ApniTaxi/ApniTaxi/bin/Microsoft.AspNet.Identity.EntityFramework.dll
ApniTaxi/ApniTaxi/bin/Microsoft.AspNet.Identity.Core.dll
ApniTaxi/ApniTaxi/bin/Microsoft.ApplicationInsights.dll
ApniTaxi/ApniTaxi/bin/Microsoft.AI.WindowsServer.dll
ApniTaxi/ApniTaxi/bin/Microsoft.AI.Web.dll
ApniTaxi/ApniTaxi/bin/Microsoft.AI.ServerTelemetryChannel.dll
ApniTaxi/ApniTaxi/bin/Microsoft.AI.PerfCounterCollector.dll
ApniTaxi/ApniTaxi/bin/Microsoft.AI.DependencyCollector.dll
ApniTaxi/ApniTaxi/bin/Microsoft.AI.Agent.Intercept.dll
ApniTaxi/ApniTaxi/bin/EntityFramework.dll
ApniTaxi/ApniTaxi/bin/EntityFramework.SqlServer.dll
ApniTaxi/ApniTaxi/bin/Antlr3.Runtime.dll
ApniTaxi/.vs/ApniTaxi/v15/Server/sqlite3/storage.ide-wal
ApniTaxi/.vs/ApniTaxi/v15/Server/sqlite3/storage.ide-shm
ApniTaxi/.vs/ApniTaxi/v15/Server/sqlite3/storage.ide
ApniTaxi/.vs/ApniTaxi/v15/Server/sqlite3/db.lock
